/* Main Stylesheet with CSS Variables */

/* Define CSS Variables */
:root {
    /* Color Variables */
    --color-background: #bfd5c0;
    --color-text: #293729;

    /* Font Size Variables */
    --font-size-base: 16px;
    --font-size-h1: 2rem;

    /* Font Family */
    --font-family-primary: 'Geist Mono', monospace;

    /* Container Width */
    --container-width: 600px;
}

/* Apply Base Styles */
body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    line-height: 1.6;
    background-color: var(--color-background);
    color: var(--color-text);
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    max-width: var(--container-width);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: var(--font-size-h1);
    font-weight: 400;
    font-size: 1rem;
}

p {
    font-size: var(--font-size-base);
    font-weight: 400;
}

.star {
    font-size: 2rem;
    font-weight: 400;
}