---

---

<header class="flex flex-col gap-4">
    <h1
        data-inspectable
        data-element="hero.title"
        class="fade-stagger font-display text-7xl font-light leading-[1.15] text-text-primary w-fit"
        data-stagger="0"
        style="font-variation-settings: 'opsz' 72, 'SOFT' 0, 'WONK' 1;"
    >
        Designing the tools<br />
        builders build with
    </h1>
    <h2
        data-inspectable
        data-element="hero.subtitle"
        class="fade-stagger text-base leading-[22px] text-text-secondary font-normal w-fit"
        data-stagger="1"
    >
        Been doing this for more than a decade. Startups, dev tools, b2b.<br />
        Also made keycaps you've probably seen on Reddit.
    </h2>
</header>
