---

---

<div class="absolute left-1/2 -top-[200px] sm:-top-[260px] md:-top-[320px] w-[280px] sm:w-[380px] md:w-[500px] h-[280px] sm:h-[380px] md:h-[500px] pointer-events-none select-none animate-slow-spin">
  <img src="/shapes.svg" alt="" width="500" height="500" class="w-full h-full" />
</div>
